{
    "id":"sample-app-java",
    "description":"GridAPPS-D Java Sample Application app",
    "creator":"PNNL",
    "inputs":[],
    "outputs":[],
    "options": ["(simulationId)","'(request)'"],
    "type":"JAVA",
    "execution_path": "java -cp "lib/*:bin" sample.app.SampleApp",
    "launch_on_startup":false,
    "prereqs":[],
    "multiple_instances":false
}
